.breadcrumb__link_contact {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;  
    color: #1E0606;
    opacity: 0.5;
    text-decoration: none;
    list-style-type: none;
}

.contact__block {
    display: flex;
}

.contact__form {
    background: #E5EAF8;
    width: 680px;
    height: 542px;
}


.form__area {
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.name__area {
    padding-top: 42px;
    flex-wrap: wrap;
}

.name__item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;  
    color: #1E0606;
    margin-left: 40px;
    /* padding-top: 42px; */
}

.name__input {
    width: 580px;
    height: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact__details {
    display: flex;
}

.phone__area {
    padding-left: 40px;
    flex-wrap: wrap;
    display: flex;
}

.phone__input {
    width: 290px;
    height: 50px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.email__area {
    flex-wrap: wrap;
    padding-right: 20px;
}

.email__input {
    width: 290px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.name__item_contact {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;  
    color: #1E0606;
}

.message__area {
    flex-wrap: wrap;
}

.message__block {
    width: 600px;
    height: 150px;
    margin-left: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    resize: none;
}

.deal {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-left: 40px;
}

.check__deal {
    opacity: 0;
    position: absolute;
    z-index: -1;
    /* margin-left: 26px; */
    /* display: none; */
    
}

.custom__checkbox_deal {
    background-image: url(../pic/icons/Rectangle22.svg);
     content: "";
    width: 19px;
    height: 19px;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
}



.custom__checkbox_deal::before {
    background-image: url(../pic/icons/Vectorcontact.svg);
    display: inline-block;
    width: 16px;
    height: 16px;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 1px;
    margin-left: 3px;
}


.deal__info {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* padding-left: 15px; */
}

.button__deal {
    padding-top: 20px;
    padding-bottom: 90px;
    margin-bottom: 128px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px; 
    font-weight: 700; 
    background: #000000;
    color: white;
    padding: 9px 22px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    cursor: pointer;
    /* margin-left: 40px; */
}

.button__deal:active {
    background: #6a6969;
}




.contact__paragraph {
    padding-left: 120px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    padding-bottom: 20px;
}

.contact__paragraph_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
    padding-left: 120px;
    word-wrap: break-word;
    width: 380px;
}