body {
    font-family: url(/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf)
}


.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.header__wraper {
display: flex;
}

.nav {
   padding-left: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav__list {
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}

.nav__list_item {
    text-decoration: none;
    list-style-type: none;
    padding-left: 20px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans';
}

.nav__list_link {
    text-decoration: none;
    list-style-type: none;
    color: #1E0606;
    font-family: 'Open Sans';
}

.button_search {
    padding-left: 678px;
    padding-right: 23px;
}

.contact__us {
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans';
    /* font-style: normal; */
    font-weight: 700;
    color: #1E0606;

}


.slider {
    display: flex;
    position: relative;
    background: #EEE4DB;
}

.slider__menu {
   padding-top: 17px;
   
}

.slider__menu_item {
    padding-left: 28px;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    font-family: 'Montserrat';
    font-weight: 200;
}

.slider__switch {
    padding-top: 10px;
    padding-left: 31px;
}

.slider__switch_item {
    text-decoration: none;
    list-style-type: none;
}

.slide__text {
    padding-left: 71px;
    padding-top: 89px;
}

.slide__text_name {
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    word-wrap: break-word;
    width: 307px;
    padding-bottom: 20px;
}

.slide__text_paragraph {
    /* padding-top: 20px; */
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #1E0606; 
    font-family: 'Crimson Text' 
}  

.button {
    padding-top: 20px;
    padding-bottom: 90px;
    margin-bottom: 128px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px; 
    font-weight: 700; 
    background: #000000;
    color: white;
    padding: 9px 22px;
    font-family: 'Open Sans';
}

.image__monster {
    position: absolute;
    /* margin-left: 555px; */
    /* margin-top: 56px; */
    width: 635px;
    height: 461px;
    /* padding-left: 5px; */
    left: 555px;
    top: -80px;
}

.paragraph__item {
    /* margin-left: 474px; */
    background: #C29974;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    /* padding-left: 364px; */
    color: #FFFFFF;
    width: 1180px;
    height: 39px;
    padding-top: 11px;
    font-family: 'Open Sans';
}

.category {
    padding-top: 90px;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
    padding-bottom: 30px;
}

.category__menu {
    padding-top: 30px;
}

.menu__list {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* padding-left: 20px; */
    /* background: #DBE4DB; */
}

.category__menu_item {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding-left: 25px; */
    /* width: 280px; */
    /* height: 270px; */


}

.img_kids {
    /* position: absolute; */
    /* top: 0px; */
    /* left: 0px; */
}

.link_kids {
    list-style-type: none;
    text-decoration: none;
    font-size: 26px;
    line-height: 32px;
    /* position: absolute; */
    padding-top: 103px;
    color: #FFFFFF;
    padding-left: 57px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    word-wrap: break-word;
    width: 129px;
}

.img_holiday {
    background: #EADDD3;
    /* position: absolute; */
    /* top: 0px; */
    /* left: 0px; */
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center;    */
}

.link_holiday{
    list-style-type: none;
    text-decoration: none;
    font-size: 26px;
    line-height: 32px;
    /* position: absolute; */
    /* top: 103px; */
    /* left: 472px; */
    padding-top: 103px;
    padding-left: 26px;
    color: #FFFFFF;
}



.img_toys {
    background: #F8F2DA;
    /* position: absolute; */
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.link_toys {
    list-style-type: none;
    text-decoration: none;
    font-size: 26px;
    line-height: 32px;
    /* position: absolute; */
    padding-top: 119px;
    padding-left: 99px;
    /* left: 814px; */
    color: #FFFFFF;
}

.img_accessories {
    background: #D5D4E1;
    /* position: absolute; */
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.link_accessories {
    list-style-type: none;
    text-decoration: none;
    font-size: 26px;
    line-height: 32px;
    /* position: absolute; */
    padding-top: 119px;
    color: #FFFFFF;
    padding-left: 24px;
}


.wrap {
    padding-top: 33px;
    padding-bottom: 94px;
    display: flex;
}

.vector {
    background: rgba(112, 187, 220, 0.2);
    border: none;
    /* padding: 6px; */
}

.wrap__paragraph {
    padding-left: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    font-family: 'Open Sans';
    /* word-wrap: break-word; */
    /* font-weight: 400; */
}

.info {
    display: flex;
}

.info__block {
    padding-left: 121px;
}

.block__name {
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
    /* font-family: 'Open Sans'; */
}

.block__list {
    padding-top: 6px;
}

.block__list_item {
    padding-bottom: 22px;
    list-style-type: none;
    text-decoration: none;
}

.info_paragraph {
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    /* padding-top: 30px; */
    font-family: 'Open Sans';
    padding-bottom: 26px;
}

.adv__list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 90px;
    /* margin: 0px 5px; */
    margin-right: 110px;
}

.adv__list_item {
    padding-left: 127px;
    padding-top: 90px;
    /* margin: 0px 127px; */
}

.block {
    display: flex;
}

.block__buy {
    background: #E1F0F7;
    /* position: absolute; */
    /* width: 543px; */
    /* height: 228px; */
}

.block__contacts {
    background: #E1F0F7;
    /* position: absolute; */
    /* width: 543px; */
    /* height: 209px; */
    padding-left: 57px;
}

.footer__group {
    display: flex;
    background: #434343;
    /* padding-top: 100px; */
}

.group__nav {
   padding-left: 110px;
}

.group__nav_name {
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    padding-top: 100px;
}

.group__nav_item {
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
}

.group__nav_list {
    padding-top: 52px;
    /* padding-bottom: 52px; */
}

.nav__item_link {
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
}

.rating {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}

.rating__name {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.star__rating {
    padding-left: 25px;
    /* background: url(/pic/icons/Star\(1\).svg); */
    /* background-size: 10px; */
    /* position: relative; */
    /* width: 17px; */
    /* height: 16px; */
}

.star__rating_item {
    /* position: absolute; */
    /* text-decoration: none; */
    /* list-style-type: none; */
}

.customer__group{
    padding-left: 155px;
}


.customer {
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    padding-top: 100px;
}

.group__info {
    padding-top: 52px;
}

.group__info_item {
    padding-bottom: 15px;
    text-decoration: none;
    list-style-type: none;
}

.group__info_link {
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.paragraph_copyright {
    padding-top: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding-bottom: 100px;
    align-items: center;
}

.connect__group {
    padding-left: 109px;
}

.paragraph__connect {
    padding-top: 100px;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    padding-bottom: 49px;
}


.input_area {
    background: #666666;
    /* width: 380px; */
    height: 40px;
}

.group__connect {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.group__connect_item {
    padding: 10px;
}

.paragraph_dl {
    padding-top: 167px;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
}